ion-toolbar{
  --background: linear-gradient(to right, #1768f9, #1acdd3);
}

.getappointment{
  padding: 10px;
  background-color: rgb(198, 225, 227);
  margin: 10px;
  border-radius: 10px;
}

h5{
  padding: 0;
  margin: 0;
  font-size: 22px;
}
p{
  padding: 0;
  margin: 0;
}