ion-title{
  background-image: linear-gradient(to right, #1768f9, #1acdd3);
}
ion-select {
  /* Applies to the value and placeholder color */
  color: #545ca7;

  /* Set a different placeholder color */
  --placeholder-color: #971e49;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
}
ion-item{
  padding: 10px;
}