<ion-content>
  <div class="top">
    <ion-row>
      <div class="top-left">
        <h5>Hi, {{user["username"]}}</h5>
        <hr>
        <p>welcome to android system alternatif treatment.</p>
<!--        <h2 class="bold">RM {{user["ew_balance"]}}</h2>-->
      </div>
      <div class="top-right ion-text-right">
        <ion-avatar class="avatar">
          <ion-img src="{{user['profile_pic']}}" alt="loading"></ion-img>
        </ion-avatar>
        <br>
        <a class="btn" (click)="logout()">logout ></a>
      </div>
    </ion-row>
  </div>
  <div class="bar">
    <ion-row>
      <div class="bar-list" (click)="profile()" *ngIf="user['roles'] === 'user'">
        <ion-img class="bar-icon" src="assets/icon/Apps-02.png" ></ion-img>
        <p class="p-icon bold">Profile</p>
      </div>
      <div class="bar-list" (click)="appointment()" *ngIf="user['roles'] === 'user'">
        <ion-img class="bar-icon" src="assets/icon/Apps-03.png"></ion-img>
        <p class="p-icon bold">Appointment</p>
      </div>
      <div class="bar-list" (click)="history()" *ngIf="user['roles'] === 'admin'">
        <ion-img class="bar-icon" src="assets/icon/Apps-04.png"></ion-img>
        <p class="p-icon bold">History</p>
      </div>
<!--      <div class="bar-list" (click)="soon()">-->
<!--        <ion-img class="bar-icon" src="assets/icon/Apps-04.png"></ion-img>-->
<!--        <p class="p-icon bold">Massage</p>-->
<!--      </div>-->
<!--      <div class="bar-list" (click)="soon()">-->
<!--        <ion-img class="bar-icon" src="assets/icon/Apps-05.png"></ion-img>-->
<!--        <p class="p-icon bold">Setting</p>-->
<!--      </div>-->
    </ion-row>
  </div>
  <div class="title">
    <p><b>List Appointment</b></p>
  </div>
  <div class="profile">
    <div class="data" style="text-align: center;" *ngIf="getappointment.length < 1">
      <p>No Appointment available right now</p>
    </div>
    <div style="text-align: center;" *ngIf="getappointment.length > 0">
      <div *ngFor="let data of getappointment" class="getappointment">
        <ion-row>
          <div style="text-align: center;margin: auto;">
            <p>Name : {{data.name}}</p>
            <p>Phone : {{data.tel_mobile}}</p>
            <p>Date : {{data.date}}</p>
            <p>Time : {{data.time}}</p>
            <p>Service : {{data.service}}</p>
            <p>Status : {{data.status}}</p>
          </div>
          <div *ngIf="user['roles'] === 'admin'">
            <ion-button color="primary" (click)="changeStatus('accept',data.id)">Accept</ion-button>
            <ion-button color="warning" (click)="changeStatus('reject',data.id)">Reject</ion-button>
            <ion-button color="dark" (click)="changeStatus('completed',data.id)" *ngIf="data.status != 'pending'">Completed</ion-button>
            <ion-button color="medium" (click)="contact(data.tel_mobile)">Contact</ion-button>
          </div>
        </ion-row>
      </div>
    </div>
  </div>
  <br>
  <div class="title">
    <p><b>Services</b></p>
  </div>
  <div class="slider">
    <!-- slides  -->
    <ion-slides>
      <!-- single slide iteration -->
      <ion-slide *ngFor="let item of items">
        <div class="img-slider">
          <img class="img-boder" src="{{item.img_url}}" />
          <p>{{item.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
